{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Blabber{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'blabber/css/base.css' %}">
	{% block css %}{% endblock %}
</head>
<body>
	<nav class="nav">
		<h1 class="brand">
			<a href="{% url 'blabber:home' %}">Blabber</a>
		</h1>
		<input for="btn-search" type="text" name="search" placeholder="Search blabber">
		<button id="btn-search">Search</button>
		{% if user.is_authenticated %}
			<a href="#">Logout</a>
		{% else %}
			<a href="#">Sign up</a>
			<a href="#">Login</a>
		{% endif %}

		<ul class="navbar">
			<li><a href="{% url 'blabber:home' %}">Home</a></li>
			<li><a href="{% url 'blabber:profile' user.username %}">Profile</a></li>
			<li><a href="#">Messages</a></li>
			<li><a href="#">Notifications</a></li>
		</ul>
	</nav>

	{% block content %}{% endblock %}

	<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 -->
	{% block script %}
		<script>
			function showComments(event) {
				event.preventDefault()
				var totalComments = this.getAttribute('data-total-comments')

				if (parseInt(totalComments) > 0) {
					var commentBox = this.parentElement.nextElementSibling
					var comments = commentBox.getElementsByClassName('comments')[0]

					if (comments.hasAttribute('hidden')) {
						comments.removeAttribute('hidden')
					}
				}
			}

			var comments = document.getElementsByClassName('collapse')

			var i
			for (i = 0; i < comments.length; i++) {
				comments[i].addEventListener('click', showComments)
			}

		</script>
	{% endblock %}
</body>
</html>
