{% extends 'blabber/base.html' %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
	<div class="container-header">
		<div class="container-avatar">
			<img src="" alt="Display photo">
		</div>
		<h2 class="fullname">{{ user.get_full_name }}</h2>
	</div>

	<div id="post-form">
		<a href="#">
			{% if user.avatar %}
				<img src="{{ user.avatar.url }}" alt="Photo">
			{% else %}
				{{ user.get_full_name }}
			{% endif %}
		</a>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Post</button>
		</form>
	</div>

	{% if user.posts %}
		{% for post in user.posts.all %}
			<div class="container">
				<a href="#"><h3>{{ post.created_by.get_full_name }}</h3></a>
				<p>{{ post.text }}</p>

				{% if post.photo %}
					<div class="container-photo">
						<img src="{{ post.photo.url }}">
					</div>
				{% endif %}

				<p><small>{{ post.date_posted }}</small></p>
				<div>
					<a href="#">{{ post.likes.count }} Like</a>
					<a href="#">{{ post.comments.count }} Comment</a>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<p>No post available</p>
	{% endif %}
{% endblock %}
