{% extends 'blabber/base.html' %}

{% block title %}{{ custom_user.get_full_name }}{% endblock %}

{% block content %}
	<div class="container-header">
		<div class="container-avatar center">
			<img src="{{ custom_user.get_avatar_url }}" alt="Display photo">
		</div>
		<div class="center-text">
			{% if custom_user == user %}
				<a href="{% url 'blabber:avatar' custom_user.pk %}">Edit photo</a>
			{% endif %}
			<h2>{{ custom_user.get_full_name }}</h2>
		</div>
	</div>

	{% if custom_user == user %}
		{% include 'blabber/includes/post_form.html' %}
	{% endif %}

	{% include 'blabber/includes/post_list.html' with posts=custom_user.posts.all %}
{% endblock %}
