{% if posts.exists %}
	{% for post in posts %}
		<div class="container">
			<a href="{% url 'blabber:profile' post.created_by.username %}"><h3>{{ post.created_by.get_full_name }}</h3></a>

			<p>{{ post.text }}</p>

			{% if post.photo %}
				<div class="container-photo">
					<img src="{{ post.photo.url }}">
				</div>
			{% endif %}

			<p><small>{{ post.date_posted|timesince }}</small></p>
			<div>
				<a href="{% url 'blabber:like_toggle' post.pk %}?next={{ request.path|urlencode }}">{{ post.likes.count }} Like</a>
				<a href="#" class="collapse" data-total-comments="{{ post.comments.count }}">{{ post.comments.count }} Comment</a>
			</div>

			<div class="comment-box">
				<div class="comments" hidden>
					{% if post.comments.exists %}
						{% for comment in post.comments.all %}
							<div class="comment">
								<a href="{% url 'blabber:profile' comment.created_by.username %}">{{ comment.created_by.get_full_name }}</a>

								<p>{{ comment.text }}</p>

								<p><small>{{ comment.date_commented|timesince }}</small></p>
							</div>
						{% endfor %}
					{% endif %}
				</div>

				<form method="post" action="{% url 'blabber:comment' post.pk %}">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}">
					<div style="float: left; width: 80%;">
						{% for field in comment_form %}
							{{ field }}
						{% endfor %}
					</div>
						<button>Comment</button>
					</div>
				</form>
			</div>
		</div>
	{% endfor %}
{% else %}
	<p>No post available</p>
{% endif %}
