<div id="post-form">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tbody>
				<tr>
					<td class="width-10">
						<div class="container-avatar" style="width: 50px; height: 50px">
							<img src="{{ user.get_avatar_url }}" alt="{{ user.get_full_name }}">
						</div>
					</td>
					<td class="width-80">
						{% for field in form %}
							{{ field }}
						{% endfor %}
					</td>
					<td class="width-10">
						<button type="submit">Post</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>
